doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    include _partial/head
  body(class=bodyclass)
    nav#topnav.navbar.navbar-default(role='navigation')
      .container
        a.navbar-brand(href=config.root)
          i.fa.fa-database
          | 
          = config.title
        ul.nav.navbar-nav.navbar-right.pad-right
          li
            a(href=config.root) Home
          li
            a(href='/docs') Documentation
          li
            a(href='/articles') Articles

    if page.custom_layout
      block content
    else
      .container
        section#page_content
          block content

    unless page.hide_footer
      .container
        footer#page_foot
          include _partial/footer
