doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    include _partial/head
  body(class=bodyclass)
    nav#topnav.navbar.navbar-default(role='navigation')
      .container
        a.navbar-brand(href=config.root)
          = config.title
        ul.nav.navbar-nav.navbar-right.pad-right
          li
            a(href=config.root) Home
          li
            a(href='/articles') Articles

    .container
      section#page_content
        block content

      footer#page_foot
        include _partial/footer
