extends docs_base

prepend window_title

  = page.title
   |  &ndash; 

if page.meta_keywords
  append meta
    meta(name='keywords', content=page.meta_keywords)
if page.meta_description
  append meta
    meta(name='description', content=page.meta_description)

append content
  if page.custom_layout
    != page.content
  else
    article

      .toc-wrap
        != toc(page.content)

      h1
        = page.title
        .docs-edit
          a(href="https://github.com/vlucas/spot-site/blob/master/source/#{page.path.replace(/\.html$/, '.md')}" title="Improve this Documentation")
            i.fa.fa-pencil
            |  edit

      != page.content
