extends base

prepend window_title

  = page.title
  &mdash;

append content
  .post
    article(class=page.layout)
      h2= page.title
      div.meta
        include _partial/article_meta

        | Published:&nbsp;
        +date(page.date)

        +category(page.categories)

      != page.content

    include _partial/article_pagination
