.row
  .col-md-8.col-lg-8
    p.text-muted
      | Using Spot in an awesome project? <a href="http://twitter.com/vlucas">Let me know</a>!
    p.text-muted
      | Spot &copy; 2012-2014 <a href="http://www.vancelucas.com">Vance Lucas</a>. All rights reserved. Open source under the <a href="http://www.opensource.org/licenses/bsd-license.php">BSD license</a>.</p>
  .col-md-4.col-lg-4
    p.text-muted.text-right
      | Website built with&nbsp;
      a(href="http://hexo.io/") hexo


  - if (config.google_analytics_code) {
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{config.google_analytics_code}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  - }

