.row
  .col-md-8.col-lg-8
    p.text-muted
      | Using Spot in an awesome project? <a href="http://twitter.com/vlucas">Let me know</a>!
    p.text-muted
      | Open source under the <a href="http://www.opensource.org/licenses/bsd-license.php">BSD license</a>.</p>
  .col-md-4.col-lg-4
    p.text-muted.text-right
      | Website built with&nbsp;
      a(href="http://hexo.io/") hexo


  - if (config.theme_settings.google_analytics_code) {
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{config.theme_settings.google_analytics_code}', '#{config.url.replace(/^https?:\/\//, "")}');
      ga('send', 'pageview');
  - }

