title: Spot
custom_layout: true
---

.hero
  .container
    h2 Solid Foundation. No Magic.
    br
    p.lead
      | Spot is a simple and efficient DataMapper built on 
      a(href="http://www.doctrine-project.org/projects/dbal.html") Doctrine DBAL
      | .
    p.lead
      | PHP 5.4+ with support for MySQL, PostgreSQL, SQLite, and more...
    a.btn.btn-default.btn-lg(href="https://github.com/vlucas/spot2")
      i.fa.fa-github
      |  View on GitHub
    | &nbsp;&nbsp;&nbsp;&nbsp;
    a.btn.btn-primary.btn-lg(href="/docs/")
      i.fa.fa-arrow-circle-right
      |  Read The Docs

.container
  .row
    .col-md-4.col-lg-4
      h2
        i.fa.fa-ban
        |  No Annotations
      p
        | Annotations are not code. They are not extendible, there are no type hints or auto-completion.
    .col-md-4.col-lg-4
      h2
        i.fa.fa-ban
        |  No Proxy Classes
      p
        | The Entities you define are the same entities that both you and Spot will be working with.
    .col-md-4.col-lg-4
      h2
        i.fa.fa-ban
        |  No Code Generation
      p
        | No surpises from code you didn't write.
